.titulo{
    color: white;
    padding-left: 15%;
    font-style: italic;
    font-size: x-large;
}
.subtitulo{
    color: gray;
    padding-left: 15%;
    font-style: inherit;
    font-size: large;
}